{% autoescape None %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>{{ title }}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="{{ static_url("bootstrap.min.css") }}" rel="stylesheet">
  <style type="text/css">
    body {
      padding-top: 60px;
      padding-bottom: 40px;
    }
    
    .marketing {
      margin-top: 50px;
      padding-right: 15px;
      padding-left: 15px;
    }
    
    .marketing div {
      margin-bottom: 20px;
      text-align: center;
    }
    
    .marketing h2 {
      font-weight: normal;
    }
    
    .marketing h2 a {
      color: #000;
    }
    
    .marketing div p {
      margin-right: 10px;
      margin-left: 10px;
    }
    
    .marketing h4 {
      text-align: center;
    }
    
    .jumbotron {
      margin-bottom: 20px;
      background-image: url('{{ static_url("Jumbotron.jpg") }}');
      background-position: 10% 50%;
      background-size: cover;
      background-repeat: no-repeat;
      color: #fff;
      font-weight: bold;
      text-shadow: black 0.3em 0.3em 0.3em;
    }
    .jumbotron p a {
      color: #fff;
    }
  </style>
  
</head>

<body>
  <div class="container">
    <div class="jumbotron">
      <h1 id="grab_heroheading">Resource Maker</h1>
    </div>

    <div class="container marketing" >

        <div class="row">
          <div class="col-md-2">
          </div>
          
          <div class="col-md-4">
            <div class="form-group">
              <label for="resName">Resource Name</label>
              <input type="text" class="form-control" id="txt_resName" placeholder="Resource Name">
            </div>
          </div>

          <div class="col-md-4">
            <div class="form-group">
              <label for="resName">Address</label>
              <input type="text" class="form-control" id="txt_resAddres" placeholder="Address">
            </div>
          </div>

          <div class="col-md-2">
          </div>
        </div>

        <div class="row">
          <div class="col-md-2">
          </div>
          
          <div class="col-md-4">
            <div class="form-group">
              <label for="resName">Family Name</label>
              <select class="form-control" id="ddl_resFamName">
                {% for fam in possibleFamily %}
                  <option value="{{ fam }}">{{ fam }}</option>
                {% end %}
              </select>
            </div>
          </div>

          <div class="col-md-4">
            <div class="form-group">
              <label for="resName">Model Name</label>
              <select class="form-control" id="ddl_resModName">
                {% for mod in possibleModel %}
                  <option value="{{ mod }}">{{ mod }}</option>
                {% end %}
              </select>
            </div>
          </div>
          
          <div class="col-md-2">
          </div>
        </div>

        <div class="row">
          <div class="col-md-2">
          </div>
          
          <div class="col-md-8">
            <div class="form-group" style="display:none;">
              <label for="resName">Description</label>
              <input type="text" class="form-control" id="txt_resDescription" placeholder="Description">
            </div>

            <div class="form-group">
              <button class="btn btn-success" id="btn_createRes">Create Resource</button>
              <button class="btn btn-danger" id="btn_createClear">Clear</button>
            </div>

          </div>
          
          <div class="col-md-2">
          </div>
        </div>

         <div class="row">
           <div class="col-md-2"></div>
           <div class="col-md-8">
             <div class="alert alert-success" role="alert" id="div_success"></div>
             <div class="alert alert-danger" role="alert" id="div_fail"></div>
           </div>
           <div class="col-md-2"></div>
         </div>

        <div class="row" id="dupRow">
          <div class="col-md-2">
          </div>
          
          <div class="col-md-4">
            <div class="form-group">
              <label for="ddl_attName">Att Name</label>
              <select class="form-control attNames" id="ddl_attName[]">
                {% for att in possibleAtts %}
                  <option value="{{ att }}">{{ att }}</option>
                {% end %}
              </select>
            </div>
          </div>

          <div class="col-md-4">
            <div class="form-group">
              <label for="txt_attVal">Att Val</label>
              <input type="text" class="form-control attVals" id="txt_attVal[]" placeholder="Att Value">
            </div>
          </div>
          
          <div class="col-md-2">
          </div>
        </div>

        <div id="O_o"></div>

        <div class="row">
          <div class="col-md-2">
          </div>
          
          <div class="col-md-8">
            <div class="form-group">
              <button class="btn btn-success" id="btn_setAttr">Set Attributes</button>
              <button class="btn btn-primary" id="btn_setAdd">Add Another Attribute</button>
              <button class="btn btn-danger" id="btn_setClear">Clear</button>
            </div>

          </div>
          
          <div class="col-md-2">
          </div>
        </div>

      
    </div>
  </div>
      <script src="{{ static_url("jquery-1.11.3.min.js") }}"></script>

      <script type="text/javascript">
        $(function() {
          $('#btn_createClear').click(function() { window.location = window.location;});
          $('#btn_setClear').click(function() { window.location = window.location;});
          $('#btn_setAdd').click(function() { AddAttr(); });
          $('#btn_setAttr').click(function() { 
            var attNames = [];
            var attVals = [];
            $('.attNames').each(function() {
                attNames.push($(this).val());
            });
            $('.attVals').each(function() {
                attVals.push($(this).val());
            });

            var obj = {"TASK": "ATTR", "NAME": $("#txt_resName").val(), "ATTS":attNames, "VALS":attVals };
            connection.send(JSON.stringify(obj));
          });
          $('#btn_createRes').click(function() { 
            var obj = {"TASK": "CREATE", "NAME": $("#txt_resName").val(), "FAM": $("#ddl_resFamName").val(), "MOD": $("#ddl_resModName").val(), "ADDR": $("#txt_resAddres").val(), "DESC": $("#txt_resDescription").val()}
            connection.send(JSON.stringify(obj));
          });
        });

        function printMsg(msg){
          $(".alert").hide();
          
          if (msg.indexOf("FAILED") !== -1) {
            //alert(server_message);
            $('#div_fail').html(msg);
            $('#div_fail').show();
          }
          else {
            $('#div_success').html(msg);
            $('#div_success').show();
          }
        }

        function AddAttr() {
          $('#dupRow').clone().appendTo('#O_o');
        }

        var connection = new WebSocket('ws://'+window.location.hostname+':'+{{wsip}});
        connection.onmessage = function(e){
          var server_message = e.data;
          printMsg(server_message);
          //console.log("RECV: " + server_message);       
        }
      </script>
</body>

</html>
